extends ./layouts/default

block content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate atque ipsa eveniet tempore sed cumque non, magnam accusamus enim consectetur, fuga fugiat! Quasi temporibus nostrum, corporis culpa, natus deleniti tenetur?